{% extends 'base.html.twig' %}

{% block body %}

<div id="sideBar" class="navbar navbar-fixed-left">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="dropdown">
            <a class="displayName dropdown-toggle" data-toggle="dropdown">
                {{ app.user.displayName }}
            </a>
            <div class="dropdown-menu userInfo">
                Phone: <strong>{{ app.user.phoneNumber }}</strong>
                <br>
                Email: <strong>{{ app.user.username }}</strong>
            </div>
        </div>
    {% else %}
        <a onclick="showRegistrationForm()">Register to pin!</a>
    {% endif %}
    <hr>
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a class="btn btn-primary loginBtn" href="{{ path('logout') }}">Log Out</a>
{% else %}
    <button class="btn btn-primary loginBtn" onclick="showLoginForm()">Log In</button>
{% endif %}


<div id="map"></div>

<!-- Modal -->
<div class="modal fade" id="mainModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="numOfItems">Bag</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeCurrentMarker()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class='input-group'>
                                    <input type="text" id="itemDescription" class="form-control" placeholder="What have you found here?">

                                    <span class="input-group-addon">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                <img src="/gotit/web/images/icons/ic-other.png" class="select-icon" data-toggle="dropdown"/>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right userInfo">

                                                <img src="/gotit/web/images/icons/ic-documents.png" class="select-icon"/>
                                                <img src="/gotit/web/images/icons/ic-glasses.png" class="select-icon"/>
                                                <img src="/gotit/web/images/icons/ic-jewelry.png" class="select-icon"/>
                                                <img src="/gotit/web/images/icons/ic-keys.png" class="select-icon"/>
                                                <img src="/gotit/web/images/icons/ic-pet.png" class="select-icon"/>

                                                <img src="/gotit/web/images/icons/ic-phone.png" class="select-icon"/>
                                                <img src="/gotit/web/images/icons/ic-usb.png" class="select-icon"/>
                                                <img src="/gotit/web/images/icons/ic-wallet.png" class="select-icon"/>
                                                <img src="/gotit/web/images/icons/ic-watch.png" class="select-icon"/>
                                                <img src="/gotit/web/images/icons/ic-other.png" class="select-icon"/>

                                            </div>
                                        </div>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                        <div class="form-group">
                            <input type="file" name="image" id="image" accept="image/jpeg, image/png" onchange="imageOptimization(this)" >
                        </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group text-right">
                                <button type="button" class="btn btn-primary" id="notify" onclick="saveItemData()">Notify</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div id="mainListing"></div>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" id="accTab">
                    <li class="active"><a href="#login" id="loginTab">Log In</a></li>
                    <li><a href="#register" id="registrationTab">Register</a></li>
                </ul>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="tab-content">
                        <div class="tab-pane active" id="login">
                            <form action="{{ path('login') }}" method="post">
                                <div class="form-group" id="loginForm">
                                    <input type="email" class="form-control" name="_username" id="loginUsername" placeholder="Email">
                                    <input type="password" class="form-control" name="_password" id="loginPassword" placeholder="Password">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="register">
                            <form action="{{ path('user_registration') }}" method="post">
                                <div class="form-group" id="registrationForm">
                                    <input type="text" class="form-control" name="displayName" id="regDisplayName" placeholder="*Display name">
                                    <input type="email" class="form-control" name="email" id="regEmail" placeholder="*Email">
                                    <input type="password" class="form-control" name="password" id="regPassword" placeholder="*Password">
                                    <input type="password" class="form-control" name="repeatedPassword" id="regRepeatedPassword" placeholder="*Repeat password">
                                    <input type="text" class="form-control" name="phoneNumber" id="regPhoneNumber" placeholder="Phone number">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-reboot.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-tab.js') }}"></script>
    <script src="{{ asset('js/map.js') }}"></script>
    <script src="{{ asset('js/functions.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqRzxX436gnjgKE5grpz70WM-A8YmmuxY&callback=initMap"></script>

{% endblock %}